<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- 定义调用对象和调用对象的方法(触发器) -->
    <bean id="baiDuHotJobTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
        <!-- 调用的类 -->  
        <property name="targetObject">  
            <ref bean="wmActPolicySchedule"/>
        </property>  
        <!-- 调用的方法 -->  
        <property name="targetMethod">  
            <value>work</value>  
        </property>  
    </bean>
    <!-- 定义触发事件(调度器) -->  
    <bean id="baiDuHotTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
        <property name="jobDetail" ref="baiDuHotJobTask"></property>  
        <!-- 每月25号凌晨30分 -->  
        <property name="cronExpression" value="0 0 */2 * * ?"></property>  
    </bean>
    
    <bean id="startQuartz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
        <property name="triggers">  
            <list>  
                <ref bean="baiDuHotTrigger"/>
            </list>  
        </property>  
    </bean>
</beans>
